.big {
  width: 400px;
  height: 260px;
}
.cases {
  width: 1000px;
  margin: 0 auto;
  margin-top: 80px;
}
.cases .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  position: relative;
  background: url("../image/title.png");
  border-radius: 5px 5px 0px 0px;
}
.cases .title h2 {
  font-size: 14px;
  color: #4AADCA;
  display: inline-block;
  margin-left: 55px;
}
.cases .caseWrap {
  padding: 5px 0;
  display: block;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
}
.cases .list {
  list-style: none;
  margin: 0;
  padding: 0;
  zoom: 1;
}
.cases .list li {
  float: left;
  position: relative;
  padding-bottom: 5px;
  padding-top: 80px;
  text-align: center;
  height: 33px;
  width: 200px;
}
.cases .list li a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}
.cases .list li a:hover img {
  clip: rect(0 170px 100px 0);
  border-color: #60beda;
}
.cases .list li a img {
  width: 120px !important;
  height: 90px !important;
  margin: 0 0 0 -64px !important;
  position: absolute;
  top: 10px;
  left: 50%;
  clip: rect(0 126px 70px 0);
  border: 2px solid #eee;
  border-radius: 4px;
}
.boxStyle {
  width: 440px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  display: none;
  top: 20%;
}
.boxStyle span {
  position: absolute;
  right: 10%;
  display: inline-block;
}
.boxStyle span a {
  padding: .6rem;
  font-size: 1.5rem;
  color: #0179c2;
}
.boxStyle span a:hover {
  color: #abcdef;
}
.boxStyle div.popcontleft {
  width: 352px;
  height: 100%;
  background-color: #b4e5fb;
  padding: 22px;
  padding-top: 6px;
  display: inline-block;
  border: 3px solid #027bc7;
  border-radius: 8px;
}
.boxStyle div.popcontleft div {
  display: inline-block;
}
.boxStyle div.popcontleft .poptitle {
  text-align: left;
  font-size: 28px;
  color: #fff;
  padding-top: 20px;
}
.boxStyle div.popcontleft .poplogo div {
  border: 3px solid #ace6ff;
  margin-right: 11px;
  margin-left: 16px;
  margin-top: 10px;
  background: #fff;
  box-shadow: #0693d8 0 0 10px;
  border-radius: 6px;
}
.boxStyle div.popcontleft .poplogo img {
  width: 140px;
  height: 80px;
}
.boxStyle div.popcontright {
  width: 400px;
  display: inline-block;
}
.showCase2 .poplogo div {
  border-radius: 50% !important;
  margin-bottom: 12px;
}
.showCase2 .poplogo div img {
  border-radius: 50% !important;
}
