.animate,
article div.package.animate,
article div.package .section.index1 img,
article div.package .section.index3 .caseList li {
  -webkit-transition: all 1.2s cubic-bezier(0.86, 0, 0.03, 1);
  -moz-transition: all 1.2s cubic-bezier(0.86, 0, 0.03, 1);
  -ms-transition: all 1.2s cubic-bezier(0.86, 0, 0.03, 1);
  -o-transition: all 1.2s cubic-bezier(0.86, 0, 0.03, 1);
  transition: all 1.2s cubic-bezier(0.86, 0, 0.03, 1);
}
.navPic {
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 60px;
  background: url("../image/nav-1.jpg") no-repeat;
  background-size: 100% 100%;
  border-radius: 8px;
  width: 1024px;
  height: 300px;
  position: relative;
}
.navPic span {
  font-size: 40px;
  color: #fff;
  padding: 22px 56px;
  background: rgba(9, 122, 150, 0.9);
  border-radius: 8px;
  position: absolute;
  top: 82px;
  left: 33%;
}
article,
article div.package,
article div.package .section {
  width: 100%;
  height: 100%;
}
article {
  position: relative;
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%);
}
article div.package .section {
  overflow: hidden;
  position: relative;
  background: url(../image/about-banner1.jpg) no-repeat center center;
  background-size: 100% 100%;
  box-sizing: border-box;
}
article div.package .section h1 {
  padding: 8px;
  font-size: 26px;
  color: #0582ce;
}
article div.package .section.index1 {
  background: url(../image/main-1.jpg) no-repeat center center;
  background-size: 100% 100%;
  text-align: center;
  padding-top: 60px;
  box-sizing: border-box;
}
article div.package .section.index1 img {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
article div.package .section.index1.actions img {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
}
article div.package .section.index2 {
  padding-top: 80px;
  background: url(../image/main-2.jpg) no-repeat center center;
  background-size: 100% 100%;
  text-align: center;
  color: #fff;
}
article div.package .section.index2 .produces {
  width: 1003px;
  margin: 0 auto;
}
article div.package .section.index2 .produces p {
  line-height: 2;
  color: #555;
  color: 14px;
  padding: 10px 0;
}
article div.package .section.index2 .produces ul {
  width: 1100px;
  height: 470px;
  margin: 0px 0px 0px -40px;
  position: relative;
  overflow: hidden;
}
article div.package .section.index2 .produces ul li {
  position: absolute;
  top: -200px;
  opacity: 0;
  -webkit-transition: all 0.8s ease-in;
  -moz-transition: all 0.8s ease-in;
  -ms-transition: all 0.8s ease-in;
  -o-transition: all 0.8s ease-in;
  transition: all 0.8s ease-in;
}
article div.package .section.index2 .produces ul li:hover div {
  display: block;
}
article div.package .section.index2 .produces ul li.goods1 {
  width: 180px;
  height: 180px;
  left: 0px;
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s;
}
article div.package .section.index2 .produces ul li.goods1 div {
  width: 181px;
  height: 181px;
  position: absolute;
  left: 4px;
  top: 4px;
}
article div.package .section.index2 .produces ul li.goods1.drow {
  top: 77px;
  opacity: 1;
}
article div.package .section.index2 .produces ul li.goods2 {
  width: 156px;
  height: 156px;
  left: 238px;
  -webkit-transition-delay: .7s;
  -moz-transition-delay: .7s;
  -o-transition-delay: .7s;
  transition-delay: .7s;
}
article div.package .section.index2 .produces ul li.goods2 div {
  width: 157px;
  height: 157px;
  position: absolute;
  left: 4px;
  top: 4px;
}
article div.package .section.index2 .produces ul li.goods2.drow {
  top: 13px;
  opacity: 1;
}
article div.package .section.index2 .produces ul li.goods3 {
  width: 220px;
  height: 220px;
  left: 451px;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
article div.package .section.index2 .produces ul li.goods3 div {
  width: 221px;
  height: 221px;
  position: absolute;
  left: 4px;
  top: 5px;
}
article div.package .section.index2 .produces ul li.goods3.drow {
  top: 68px;
  opacity: 1;
}
article div.package .section.index2 .produces ul li.goods4 {
  width: 152px;
  height: 152px;
  left: 738px;
  -webkit-transition-delay: 1.8s;
  -moz-transition-delay: 1.8s;
  -o-transition-delay: 1.8s;
  transition-delay: 1.8s;
}
article div.package .section.index2 .produces ul li.goods4 div {
  width: 153px;
  height: 153px;
  position: absolute;
  left: 4px;
  top: 4px;
}
article div.package .section.index2 .produces ul li.goods4.drow {
  top: 13px;
  opacity: 1;
}
article div.package .section.index2 .produces ul li.goods5 {
  width: 156px;
  height: 156px;
  left: 930px;
  -webkit-transition-delay: 2.1s;
  -moz-transition-delay: 2.1s;
  -o-transition-delay: 2.1s;
  transition-delay: 2.1s;
}
article div.package .section.index2 .produces ul li.goods5 div {
  width: 157px;
  height: 157px;
  position: absolute;
  left: 4px;
  top: 4px;
}
article div.package .section.index2 .produces ul li.goods5.drow {
  top: 110px;
  opacity: 1;
}
article div.package .section.index2 .produces ul li.goods6 {
  width: 212px;
  height: 212px;
  left: 176px;
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}
article div.package .section.index2 .produces ul li.goods6 div {
  width: 213px;
  height: 213px;
  position: absolute;
  left: 4px;
  top: 4px;
}
article div.package .section.index2 .produces ul li.goods6.drow {
  top: 218px;
  opacity: 1;
}
article div.package .section.index2 .produces ul li.goods7 {
  width: 240px;
  height: 240px;
  left: 690px;
  -webkit-transition-delay: 1.4s;
  -moz-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
}
article div.package .section.index2 .produces ul li.goods7 div {
  width: 241px;
  height: 241px;
  position: absolute;
  left: 4px;
  top: 4px;
}
article div.package .section.index2 .produces ul li.goods7.drow {
  top: 214px;
  opacity: 1;
}
article div.package .section.index2 .produces ul li img {
  border-radius: 50%;
  border: 5px solid #fff;
}
article div.package .section.index2 .produces ul li div {
  text-align: center;
  color: #ffffff;
  line-height: 24px;
  display: none;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 18px;
  border-radius: 50%;
  background: rgba(71, 178, 247, 0.8);
}
article div.package .section.index2 .produces ul li div p {
  height: 24px;
  font-size: 21px;
  padding-top: 39%;
  word-wrap: break-word;
  z-index: 999;
  line-height: 1.8;
}
article div.package .section.index2 .produces ul li div p a {
  color: #fff;
}
article div.package .section.index3 {
  background: url(../image/main-4.jpg) no-repeat center center;
  background-size: 100% 100%;
  text-align: center;
}
article div.package .section.index3 .solutionCase {
  position: relative;
  top: 80px;
  width: 1020px;
  margin: 0 auto;
}
article div.package .section.index3 .solutionCase p {
  font-size: 15px;
  line-height: 2;
  color: #666;
}
article div.package .section.index3 .caseList {
  margin-top: 60px;
}
article div.package .section.index3 .caseList li {
  float: left;
  width: 25%;
  opacity: 0;
}
article div.package .section.index3 .caseList li:nth-child(1) {
  margin-left: -700px;
  transition-delay: 0s;
  -moz-transition-delay: 0s;
  /* Firefox 4 */
  -webkit-transition-delay: 0s;
  /* Safari 和 Chrome */
  -o-transition-delay: 0s;
  /* Opera */
}
article div.package .section.index3 .caseList li:nth-child(2) {
  margin-left: -1200px;
  transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  /* Firefox 4 */
  -webkit-transition-delay: 0.6s;
  /* Safari 和 Chrome */
  -o-transition-delay: 0.6s;
  /* Opera */
}
article div.package .section.index3 .caseList li:nth-child(3) {
  margin-left: -1400px;
  transition-delay: 1.4s;
  -moz-transition-delay: 1.4s;
  /* Firefox 4 */
  -webkit-transition-delay: 1.4s;
  /* Safari 和 Chrome */
  -o-transition-delay: 1.4s;
  /* Opera */
}
article div.package .section.index3 .caseList li:nth-child(4) {
  margin-left: -1600px;
  transition-delay: 1.8s;
  -moz-transition-delay: 1.8s;
  /* Firefox 4 */
  -webkit-transition-delay: 1.8s;
  /* Safari 和 Chrome */
  -o-transition-delay: 1.8s;
  /* Opera */
}
article div.package .section.index3 .caseList li.moveShow {
  margin-left: 0;
  opacity: 1;
}
article div.package .section.index3 .caseList li a {
  padding: 10px;
  font-size: 15px;
  font-weight: normal;
}
article div.package .section.index3 .caseList li p {
  text-align: left;
  font-size: 14px;
  padding: 8px 28px;
  line-height: 1.5;
  text-indent: 26px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  height: 117px;
  overflow: hidden;
}
article div.package .section.index3 .caseList li .line {
  border: 2px solid #ffffff;
  width: 190px;
  margin: 8px auto;
}
article div.package .section.index3 .caseList li:hover a {
  color: #0175be;
  font-weight: bold;
}
article div.package .section.index3 .caseList li:hover .line {
  border-color: #0175be;
}
article div.package .section.index4 {
  background: url(../image/main-3.jpg) no-repeat center center;
  background-size: 100% 100%;
  position: relative;
}
article div.package .section.index4 .wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
article div.package .section.index4 .wrapper .left {
  position: absolute;
  top: 90px;
  width: 40%;
  left: 25px;
  padding: 10px 15px;
  box-sizing: border-box;
}
article div.package .section.index4 .wrapper .left h3 {
  padding: 5px 0;
  -webkit-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  opacity: 0;
}
article div.package .section.index4 .wrapper .left h3.title {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 1;
}
article div.package .section.index4 .wrapper .left p {
  font-size: 14px;
  color: #666;
  text-indent: 28px;
  padding: 8px 0;
  line-height: 1.7;
}
article div.package .section.index4 .wrapper .right {
  display: inline-block;
  width: 60%;
  position: absolute;
  right: -1000px;
  top: 86px;
  text-align: center;
}
article div.package .section.index4 .wrapper .right.move {
  right: 0;
}
article div.package .section.index4 .wrapper .right img {
  width: 80%;
}
ul.spot {
  position: fixed;
  top: 40%;
  right: 2%;
}
ul.spot li {
  margin-top: 6px;
}
ul.spot li a {
  width: 14px;
  height: 14px;
  background-color: rgba(242, 242, 242, 0.6);
  border: 1px solid orange;
  display: block;
  border-radius: 50%;
  transition: all .4s;
}
ul.spot li a.on {
  background-color: orange!important;
  border: 1px solid #f2f2f2!important;
}
