//style of heading nav
@screen-sm:767px;
@head-color: #f2f2f2;
.animate {
  -webkit-transition: all .8s ease-in-out;
     -moz-transition: all .8s ease-in-out;
      -ms-transition: all .8s ease-in-out;
       -o-transition: all .8s ease-in-out;
          transition: all .8s ease-in-out;
}

.wide {
  width: 100%;
  height: 100%;
}
header {
    &:extend(.animate);
    padding: 10px 0;
    background-color: @head-color;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
nav.navbar {
    background: @head-color !important;
    margin: 0;
    border: none;
    li.active > a {
        color:orange !important;
        background-color: @head-color !important;
    }
    .navbar-header .navbar-brand img.img-circle {
      width: 50px;
      margin-top: -15px;
    }
}
@media (max-width:@screen-sm){
   header {
    padding: 0;
   }
   .navbar-nav.dropdowns {
      margin:0 -15px;
   }
   .navbar-header .navbar-brand img.img-circle {
      width: 40px !important;
      margin-top: -10px !important;
    }
    .sec-title {
      font-size: 16px !important;
    }
}

//style of acticle's picture
body {
  overflow: hidden;
}
article {
  &:extend(.wide);
  position: relative;
  -webkit-transform: translateY(0%);
       -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
         -o-transform: translateY(0%);
            transform: translateY(0%);
  div.package {
    &:extend(.wide);
    &.animate {//动画效果
      -webkit-transition: all 1s cubic-bezier(0.86, 0, 0.03, 1);
         -moz-transition: all 1s cubic-bezier(0.86, 0, 0.03, 1);
          -ms-transition: all 1s cubic-bezier(0.86, 0, 0.03, 1);
           -o-transition: all 1s cubic-bezier(0.86, 0, 0.03, 1);
              transition: all 1s cubic-bezier(0.86, 0, 0.03, 1);
    }
    .section {
      &:extend(.wide);
      overflow: hidden;
      position: relative;
      background: url(../image/bg-2.jpg) no-repeat center center;
      background-size: 100% 100%;
    }
  }
}

//style of the right navbar
.spot {
  position: fixed;
  top: 40%;
  right: 4%;
  li {
    margin-top: 5px;
    a {
      width: 20px;
      height: 20px;
      background-color: rgba(242, 242, 242, .6);
      border: 1px solid orange;
      display: block;
      border-radius: 50%;
      transition: all .4s;
      &:hover {
        background-color: rgba(242, 242, 242, .9);
      }
    }
  }
}
.on {
  background-color: orange !important;
  border:1px solid @head-color !important;
}

//index1
#intro {
  .row {  
    margin-top: 80px;
    .intro-left {
      height: 100%;
      margin-top: 18%;
      a {
        display: block;
        padding: 15px;
        min-width: 164px;
        img {
          width: 70%;
          border: 1px solid #f2f2f2;
          padding: 3px;
          box-shadow: 0px 0px 18px rgba(242, 174, 247, 0.8);
          transition: all 2s;
          transform: rotate(-10deg);
          &:hover {
            transform: rotate(10deg);
            box-shadow: 0px 0px 22px rgba(64, 237, 246,.8);
          }
        }
      }
    }
    ul {
        width: 66%;
        padding-left: 0;
        text-align: left;
        padding-top: 14px;
        li {
          line-height: 1.6;
          cursor: pointer;
          i {
            font-size: 20px;
            padding-right: 10px;
          }
        }
      }
      p {
        width: 100%;
        margin-bottom: 0 !important;
        padding: 10px 0;
      }
    .intro-right {
      height: 100%;
      padding-top: 15px;
      h3 {
        color: #051e47 !important;
      }
      p {
        text-indent: 28px;
        color: #fff;
        line-height: 1.7;
        font-size: 18px;
        strong {
          color: red;
        }
        &.res {
          padding-top: 18px;
          padding-bottom: 26px;
        }
      }
    }
    hr {
      margin: 10px 0;
    }
  }
}
p {
  a.button {
    padding: 12px 8px;
    background-color: #428bca;
    border-radius: 5px;
    color: #fff;
    font-weight: bolder;
  }
}

//index2 experience
.index2-lb {
  position: relative;
  top: 20%;
  width: 100%;
  .lb-center {
    position: relative;
    width: 90%;
    height:450px;
    padding-top: 4%;
    .lb-wrap {
      width: 32%;
      height: 300px;
      margin: auto;
      position: relative;
      -webkit-transform-style: preserve-3d;
         -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
           -o-transform-style: preserve-3d;
              transform-style: preserve-3d;
          -webkit-perspective: 1000px;
             -moz-perspective: 1000px;
              -ms-perspective: 1000px;
               -o-perspective: 1000px;
                  perspective: 1000px;
      a {
        width: 100%;
        min-width: 84px;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0px 10px 20px rgba(0,0,0,.3);
        &:hover {
            text-decoration: none;
        }
        &.lb-center {
          display: block;
        }
        div {
          width: 100%;
          height: 300px;
          background: url(../image/box-2.jpg) no-repeat;
          background-size: 100% 100%;
          z-index: 1000;
        }
      }
    }
    //方向标签
    nav {
      width: 58px;
      position: absolute;
      left: 50%;
      top: 86%;
      margin-left: -29px;
      span {
        &:extend(.animate);
        z-index: 999;
        float: left;
        width: 24px;
        height: 25px;
        cursor: pointer;
        margin-right: 5px;
        opacity: .7;
        &.lb-left {
          background: transparent url(../image/arrows.png) no-repeat left center; 
        }
        &.lb-right {
          background: transparent url(../image/arrows.png) no-repeat right top; 
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }

}

//index3 柱形图样式
#known {
  position: absolute;
  top: 26%;
  left: 10%;
}

//作品集
.sec-title {
  position:absolute;
  top: 12%;
  left: 8%;
  font-weight: bolder;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
}
.col-model {
  margin-top: 10%;
  p {
    text-align: center;
    margin: 4% 0 ;
  }
  .col-pic {
    > div{
      margin-bottom: 12px;
      text-align: center;
      a {
        position: relative;
        border-radius: 12px;
        display: block;
        width: 88%;
        > img {
          width: 100%;
          border: 3px solid #fff;
          border-radius: 12px;
        }
        div.photo {
          background-color: rgba(0,0,0,.1);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: #fff;
          overflow: hidden;
          -webkit-transition: all 1s ease-in-out;
             -moz-transition: all 1s ease-in-out;
              -ms-transition: all 1s ease-in-out;
               -o-transition: all 1s ease-in-out;
                  transition: all 1s ease-in-out;
          h2 {
                text-align: center;
                padding: 30px 0;
                font-size: 20px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                -webkit-transform: translateY(-70%) ;
                   -moz-transform: translateY(-70%) ;
                    -ms-transform: translateY(-70%) ;
                     -o-transform: translateY(-70%) ;
                        transform: translateY(-70%) ;
                &:extend(.animate);
          }
          span {
              position: absolute;
              left: 0;
              width: 100%;
              display: block;
              -webkit-transform: translateY(550%);
                 -moz-transform: translateY(550%);
                  -ms-transform: translateY(550%);
                   -o-transform: translateY(550%);
                      transform: translateY(550%);
              &:extend(.animate);
          }
        }
        &:hover {
          div.photo {
            background-color: rgba(0,0,0,.6);
            h2 {
               -webkit-transform: translateY(30%);
                  -moz-transform: translateY(30%);
                   -ms-transform: translateY(30%);
                    -o-transform: translateY(30%);
                       transform: translateY(30%);
            }
            span {
              -webkit-transform: translateY(160%);
                  -moz-transform: translateY(160%);
                   -ms-transform: translateY(160%);
                    -o-transform: translateY(160%);
                       transform: translateY(160%);
            }
          }
         
        }
      }
      
      
    }
  }
}
.lb-pack-div {
  padding: 20px 0px;
  color: #000;
  overflow: hidden;
  h2{
    transform: scaleX(.6);
    font-size: 20px !important;
    text-align: center;
    padding: 12px 0 18px 0;
  }
  em {
    text-align: center;
    display: block;
    transform: scaleX(.5);
    color: #64070a;
    padding: 8px;
    }
  li {
    transform: scaleX(.7);
    line-height: 1.8;
    &:before {
      content: "●";
      color: #777;
      padding-right: 6px;
    }
  }
}
@media (max-width:490px){//767
  .index1 {
    .intro-left {
      margin-top: 0 !important;
      .left-img {
        display: none !important;
      }
    }
    .intro-right {
      font-size: 14px !important;
      p:not(.res) {
        padding: 0 !important;
      }
      ul {
        padding-top: 0 !important;
        li {
          line-height: 1.1 !important;
        }
      }
    }
  }
  .col-model {
    p {
      margin: 30% 0 10% 0;
    }
    .col-pic > div a:hover {
      h2 {
        -webkit-transform: translateY(8px) !important;
           -moz-transform: translateY(8px) !important;
            -ms-transform: translateY(8px) !important;
             -o-transform: translateY(8px) !important;
                transform: translateY(8px) !important;
      }
      span {
        -webkit-transform: translateY(120%) !important;
           -moz-transform: translateY(120%) !important;
            -ms-transform: translateY(120%) !important;
             -o-transform: translateY(120%) !important;
                transform: translateY(120%) !important;
      }
    }
  }
  .lb-pack-div {
    li {
      line-height:1.1 !important;
      font-size: 12px;
    }
    h2 {
      padding-bottom: 4px;
    }
  }
}

@media (max-width:374px){
  .intro-right {
    p:not(.res) {
      font-size: 14px !important;
    }
  }
}
@media screen and (min-width:490px) and (max-width:770px){
   .col-model p {
    margin: 20% 0 6% 0 !important;
  }
}
.hide {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
footer {//style of footer
  position: absolute;
  bottom: 0%;
  width: 100%;
  background: #000;
  padding: 18px 0;
  z-index: 999;
  .row {
    margin: auto;
    color: #eee;
    li a {
      color: @color;
      font-size: 18px;
      &.col-link {
        &:hover {
          color: #fff;
        }
      }
      
    }
  }
} 
.boxTip {
  background-color: rgba(27, 43, 136, 0.5);
  color: #ecfdfb;
  width: 30%;
  border-radius: 10px;
  font-size: 16px;
  transition: all .8s;
  &.pad {
     padding:8px 4px;
  }
}
@media (max-width:490px){
  .boxTip {
    width: 80%;
  }
}

.sec-tip {
  position: absolute;
  top: 12%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  text-align: center;
  display: none;
  .sec-wrap {
    width: 80%;
    height: 80%;
    img {
      width:80%;
      height: 78%;
      z-index: 1000 !important;
    }
    .btn-show {
      padding: 16px 0 !important;
      margin: auto;
      width: 80%;
      background-color: rgba(4,4,4,.7);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      .col-xs-6 {
        button {
          padding: 8px 20px;
          border-radius: 4px;
          margin: auto;
          a {
            font-size: 17px;
            font-weight: bolder;
            color: #777;
          }
        }
      }
    }
  }
}