.box-pad,
html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0;
  padding: 0;
}
.box-width,
header {
  width: 100%;
  height: 100%;
}
/* 公共样式 */
html,
body {
  font-family: Arial, 'Microsoft Yahei';
  font-size: 16px;
}
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  list-style: none;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
i {
  font-style: normal;
}
span {
  display: inline-block;
}
/* header */
.wrapper {
  width: 88%;
  margin: auto;
}
header {
  background-color: #056aaf;
  font-size: 14px;
}
header .head-wrap {
  padding: 8px;
}
header .head-wrap li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid rgba(204, 204, 204, 0.6);
  color: #02467b;
}
header .head-wrap li:last-child {
  border-right: none;
}
header .head-wrap li a {
  color: #98cdf1;
}
header .head-wrap li a:hover {
  text-decoration: underline;
  color: #dbebfb;
}
header .head-wrap li a.manage {
  padding-left: 5px;
}
header .head-wrap li i {
  color: #fad407;
}
header .head-wrap li span {
  color: #f29c61;
  padding-left: 5px;
}
/* 搜索栏 */
nav {
  background-color: rgba(172, 209, 239, 0.7);
  padding-top: 6px;
}
nav .search {
  padding: 0 30px;
}
nav .search-logo {
  display: inline-block;
}
nav .search-logo img {
  width: 100px;
  height: 70px;
}
nav .search-logo h2 {
  display: inline-block;
  vertical-align: top;
  line-height: 65px;
  color: #0e74b2;
}
nav ul {
  display: inline-block;
  position: absolute;
  line-height: 70px;
  width: 34%;
  margin: 0 50px;
}
nav ul li {
  padding: 0 10px;
  display: inline-block;
}
nav ul li a {
  color: #fff;
  font-weight: bold;
}
nav ul li a.on {
  background: #82bae8;
  padding: 8px 6px;
  border-radius: 5px;
}
nav ul li a:hover {
  color: #61e867;
}
nav .search-form {
  display: inline-block;
  position: absolute;
  right: 100px;
  top: 58px;
}
nav .search-form input {
  height: 32px;
  border: none;
  border-radius: 5px;
  box-shadow: #b5b2b2 1px 2px 6px;
  outline: none;
}
nav .search-form input.search-input {
  width: 210px;
  text-indent: 10px;
}
nav .search-form input.search-input:hover {
  border: 1px solid #369fe6;
}
nav .search-form input.search-submit {
  background: #e3edf5;
  color: #012944;
}
/* section内容部分 */
section {
  margin-top: 20px;
}
section .sec-wrapper {
  width: 90%;
  height: 280px;
  margin: auto;
  border-radius: 10px;
  background: url('../images/bg.jpg') no-repeat;
  background-size: 100% 100%;
  box-shadow: #c3c1c1 0px 1px 12px;
}
section .sec-wrapper .sec-list {
  width: 33.33%;
  height: 100%;
  float: left;
  position: relative;
}
section .sec-wrapper .sec-list ul {
  text-align: left;
  position: absolute;
  top: 32%;
  left: 25%;
  line-height: 2;
  font-size: 15px;
}
section .sec-wrapper .sec-list ul li i {
  color: #085a8c;
  margin: 4px;
  font-size: 18px;
}
section .sec-wrapper .sec-list ul li span {
  margin: 5px;
}
section .sec-wrapper .sec-list.index2 {
  text-align: center;
}
section .sec-wrapper .sec-list.index2 .sec-name {
  margin-top: 6px;
}
section .sec-wrapper .sec-list.index2 .sec-name span {
  color: #085a8c;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  line-height: 42px;
  box-shadow: rgba(8, 90, 140, 0.3) 2px 3px 18px;
}
section .sec-wrapper .sec-list.index2 .sec-name a {
  display: inline-block;
  position: absolute;
}
section .sec-wrapper .sec-list.index2 .sec-name a img {
  width: 80%;
}
section .sec-wrapper .sec-list .head {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 10%;
}
section .sec-wrapper .sec-list .select-pic {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 16%;
  left: 31.6%;
  opacity: 0;
  border-radius: 50%;
}
section .sec-wrapper .sec-list.index3 li {
  float: left;
  text-align: center;
  border-right: 1px solid blue;
}
section .sec-wrapper .sec-list.index3 li:last-child {
  border-right: none;
}
section .sec-wrapper .sec-list.index3 li span {
  margin: 0;
  display: block;
  width: 72px;
}
section .sec-wrapper .sec-list.index3 li span.num {
  font-size: 22px;
  font-weight: bold;
}
section .sec-wrapper .sec-list.index3 li span:not(.num) {
  color: #085a8c;
  font-weight: bold;
}
section .sec-wrapper .sec-list.index3 .sec-btn {
  text-align: center;
  margin-top: 48%;
}
section .sec-wrapper .sec-list.index3 .sec-btn button {
  background: #0e74b2;
  width: 70px;
  height: 28px;
  border-radius: 5px;
  color: #fff;
  border-color: #108cd8;
  outline: none;
  margin: 0 6px;
}
section .sec-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  color: #3d91b7;
  height: 100%;
  border-top: 1px solid #eee;
}
section .sec-content > div {
  float: left;
  height: 100%;
}
section .sec-content .sec-left {
  width: 20%;
  text-align: left;
}
section .sec-content .sec-left ul {
  padding: 20px;
  border-top: 1px solid #eee;
}
section .sec-content .sec-left ul li {
  padding: 6px 0;
  cursor: pointer;
}
section .sec-content .sec-left ul li:hover {
  background-color: #edf8fd;
}
section .sec-content .sec-left ul li:hover i {
  color: #0e74b2 !important;
}
section .sec-content .sec-left ul li i {
  padding: 0 10px;
  color: #abcdef;
}
section .sec-content .sec-center {
  width: 55%;
  height: 100%;
  border-left: 1px solid #eee;
}
section .sec-content .sec-center .sec-center-head {
  width: 96%;
  box-sizing: border-box;
  margin: 10px;
  border-bottom: 2px solid #eee;
}
section .sec-content .sec-center .sec-center-head span {
  padding: 6px 10px;
  cursor: pointer;
}
section .sec-content .sec-center .sec-center-head span.action {
  border-bottom: 3px solid #085a8c;
  color: #085a8c;
}
section .sec-content .sec-center .sec-center-head span a {
  color: #3d9ecf;
  font-size: 14px;
}
section .sec-content .sec-center .sec-center-head a.myAsk {
  float: right;
  font-size: 14px;
  color: #3d91b7;
  line-height: 36px;
}
section .sec-content .sec-center ul {
  margin: 0 16px;
}
section .sec-content .sec-center ul li {
  padding: 8px 0;
  border-bottom: dotted 1px #75bfe6;
  font-size: 15px;
}
section .sec-content .sec-center ul li:last-child {
  border-bottom: none;
}
section .sec-content .sec-center ul li span {
  width: 55%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section .sec-content .sec-center ul li p {
  display: inline-block;
  float: right;
}
section .sec-content .sec-center ul li p i {
  color: #b0e6ff;
  font-size: 14px;
}
section .sec-content .sec-center ul li p a {
  color: #085a8c;
}
section .sec-content .sec-center ul li p a:hover {
  color: blue;
}
section .sec-content .sec-center .fly {
  width: 500px;
  height: 300px;
  margin-left: -250px;
  margin-top: -150px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #f8fcff;
  border: 1px solid #abcdef;
  border-radius: 10px;
  box-sizing: border-box;
  display: none;
}
section .sec-content .sec-center .fly form div.fly-head {
  padding: 12px 20px;
  background-color: #0e74b2;
  color: #fff;
}
section .sec-content .sec-center .fly form div.fly-tip {
  padding: 20px 20px 0px 20px;
}
section .sec-content .sec-center .fly form div.fly-tip input {
  width: 88%;
  height: 28px;
  padding-left: 10px;
}
section .sec-content .sec-center .fly form div.fly-tip textarea {
  width: 88%;
  padding-left: 10px;
  height: 90px;
  vertical-align: top;
}
section .sec-content .sec-center .fly form div.fly-tbn {
  text-align: center;
  padding-top: 18px;
}
section .sec-content .sec-center .fly form div.fly-tbn button {
  width: 90px;
  height: 32px;
  background: #4CAF50;
  border-color: #4caf50;
  font-size: 16px;
  color: #fff;
}
section .sec-content .sec-center .sec-hide {
  width: 55%;
  height: 500px;
  position: absolute;
  background: #fff;
  display: none;
}
section .sec-content .sec-right {
  margin-top: 6px;
  border-radius: 6px;
  width: 24.7%;
  height: 100%;
  border: 1px solid #eee;
  margin-bottom: 10px;
  padding-bottom: 18px;
}
section .sec-content .sec-right .sec-add {
  width: 100%;
}
section .sec-content .sec-right .sec-add .sec-add-head {
  padding: 14px 10px;
  float: none;
}
section .sec-content .sec-right .sec-add .sec-add-head h4 {
  display: inline-block;
}
section .sec-content .sec-right .sec-add .sec-add-head a {
  float: right;
}
section .sec-content .sec-right .sec-add .sec-add-pics li {
  float: left;
  width: 33.33%;
  text-align: center;
}
section .sec-content .sec-right .sec-add .sec-add-pics li img {
  width: 72px;
  height: 72px;
}
section .sec-content .sec-right .sec-add .sec-add-pics li a {
  margin: 8px 6px;
  color: #3d91b7;
  display: block;
  font-size: 15px;
}
